/* (*) usado para mudar a configuraçao geral do site */
* {
    margin: 0;
    /* zarando a marigin do site */
    padding: 0;
    /* zerando o preenchimento*/
    list-style: none;
    /* removendo os estilos de listas */
    text-decoration: none;
    /* tirando a decoraçao do texto */
    font-family: Arial, Helvetica, sans-serif;
    /*fonte da letra*/

}

/* chamando o cabeçalho */
header {
    background-color: rgb(78, 135, 168);
    /*cor de fundo*/
    padding: 20px;
    /* tamanho do borda */
    display: flex;
    /* tornando a sessão flexivel(lado a lado) */
    justify-content: end;
    /*deixa os itens no final da pagina*/
    align-items: center;
    /*deixa os itens alinhado no centro*/
}

header nav ul {
    display: flex;
    /* tornando a sessão flexivel(lado a lado) */
}

header nav ul li {
    list-style: none;
    /* removendo os estilos de listas */
    margin-right: 10px;
    /*espaço do lado esquerdo*/
    font-size: 10px;
    /*espaço do lado direito*/
}

header nav ul li a {
    text-decoration: none;
    /* tirando a decoraçao do texto */
    color: white;
    /*cor da letra*/
}

header nav ul li a:hover {
    transition: 0.7s;
    /*transição*/
    color: rgb(81, 81, 228);
    /*cor da letra*/

}

/* chamando a primeira sessão  */
.section-1 {
    /* colocando cor degrade */
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
    /* tamanho da sessão */
    padding: 180px;
    /* tamanho da fonte */
    font-size: 30px;
}

/* chamando o titulo */
.section-1 h1 {
    /* cor da linha */
    color: rgb(51, 50, 50);
    /* espaçamento entre o titulo e o paragrafo */
    margin-bottom: 10px;
    /*negrito*/
    font-weight: 600;
}

/*chamando o paragrafo*/
.section-1 p {
    font-size: 20px;
    /*tamanho do paragrafo*/
}

/* chamando o botao */
.section-1 button {
    /* tamanho do botao */
    padding: 12px;
    /* espaçamento entre o texto e o botão */
    margin-top: 10px;
    /* curvatura da borda */
    border-radius: 50px;
    /* cor da borda */
    border-color: green;
    /* cor da letra */
    color: green;
    /* preenchimento da esquerda */
    padding-left: 40px;
    /* preenchimento da direita */
    padding-right: 40px;
}


/* adicionando efeito ao passar o mouse no botão */
.section-1 button:hover {
    /* troca de cursor ao passar o mouse */
    cursor: pointer;
    /* trocando a cor de fundo */
    background-color: green;
    /* trocando a cor da borda  */
    border-color: white;
    /* trocando a cor da letra */
    color: white;
    /* adicionando transisao para todas as trocas */
    transition: 1s;
}

/* chamando a segunda sessão do site */
.section-2 {
    /* cor de fundo da sessão */
    background-color: aliceblue;
    /* tornando a sessão flexivel(lado a lado) */
    display: flex;
    /* tamanho da sessão */
    padding: 250px;
    /* alinhando itens */
    align-items: center;
}

/* chamando o botão */
.section-2 div a button {
    /* tamanho do botão */
    padding: 10px;
    /* espaço entre o parágrafo e o botão */
    margin-top: 20px;
    /* curvatura do botão */
    border-radius: 50px;
    /* cor da borda do botão */
    border-color: green;
    /* cor da letra */
    color: green;
    /* preenchimento da esquerda */
    padding-left: 40px;
    /* preenchimento da direita */
    padding-right: 40px;
}

/* chamando o parágrafo da sessão */
.section-2 div p {
    /* tamanho da fonte */
    font-size: 30px;
}

.section-2 div a button:hover {
    /* trocando a cor de fundo */
    background-color: green;
    /* trocando a cor da borda */
    border-color: white;
    /* trocando a cor da letra */
    color: white;
    /* adicionando transisao em totas as alteraçoes */
    transition: 1s;
    /* trocando o cursor ao passar o mouse */
    cursor: pointer;

}

/* chamando a imagem da sessão */
.section-2 div img {
    /* tamanho da sessão */
    width: 300px;
    /* espaço entre o canto do site e a imagem */
    margin-left: 30px;
}

/* chamando a terceira sessão do site */
.section-3 {
    /* tamanho da sessão */
    padding: 200px;
    /* cor de fundo */
    background-color: aliceblue;
 
}

/* chamando uma parte do titulo  */
.section-3 h2 {
    /* trocado o tamanho desta parte do titulo */
    font-size: 30px;
    /* espacamento entre o texto e a imagem */
    margin-left: 35%;
    margin-top: -150px;
}

/* chamando o parágrafo */
.section-3 p {
    /* tamanho das letras */
    font-size: 20px;
    /* cor das letras */
    color: gray;
    /* espaçamento entre o parágrafo e o titulo */
    margin-top: 20px;
}

/* chamando o botão  */
.section-3 button {
    /* tamanho do botão */
    padding: 10px;
    /* preenchimento a esquerda */
    padding-left: 40px;
    /* preenchimento a direita */
    padding-right: 40px;
    /* curvatura da borda */
    border-radius: 50px;
    /* espaçamento entre o botão e o texto */
    margin-top: 60px;
    /* cor do botão */
    color: blue;
    /* cor da borda do botão */
    border-color: blue;
}

/* adicionando efeito para o botão ao passar o mouse */
.section-3 button:hover {
    /* trocando o cursor ao passar o mouse */
    cursor: pointer;
    /* trocada a cor de fundo do botão  */
    background-color: blue;
    /* trocada a cor da letra */
    color: white;
    /* trocada a cor da borda do botão */
    border-color: white;
    /* adicionada a transisão da troca de todos os efeitos */
    transition: 1s;
}

/* chamando a imagem */
.section-3 img {
    /* espacamento entre a lateral do site */
    margin-left: 16%;
    /* lagura da imagem */
    width: 650px;
}

/* chamando a linha  */
.section-3 .line {
    /* largura da linha */
    width: 79%;
    /* espacamento entre a linha e o botão */
    margin-top: 27px;
    /* espacamento da linha e a lateral esquerda do site */
    margin-left: 12%;
    /* espacamento entre a linha e a imagem */
    margin-bottom: 30px;
}

/* chamando a quarta sessão do site */
.section-4 {
    /* tamanho da sessão */
    padding: 190px;
    /* imagem de fundo da sessão */
    background: linear-gradient(180deg,#0c16a364 8.33%, rgba(5,39,101,0.745)100%), url(img/img\ cofre\ fundo.jpg);
    /* posisão da imagem */
    background-position: center;
    /* dizendo para imagem não se repetir */
    background-repeat: no-repeat;
    /* deixando a imagem fixada */
    background-attachment: fixed;
    /* deixando a imagem cobrir o site todo */
    background-size: cover;
    /* deixando a sessão flexivel */
    display: flex;
    /* tamanho da fonte do site */
    font-size: 20px;
    /* alinhando os itens */
    align-items: start;
    /* alinhando os textos */
    text-align: center;
    /* cor da linha */
    color: white;
}

/* chamando o titulo */
.section-4 h2 {
    color: white;
    /*cor da letra*/
    font-size: 35px;
    /*tamanho da letra*/
    margin-top: 20px;
    /*distancia da margen de cima*/
    margin-right: 90px;
    /*distancia da margem da esquerda*/
    margin-left: 90px;
    /*distancia da margem da direita*/
    text-align: center;

}

/* chamando uma parte do texto */
.section-4 span {
    /* trocando a cor desta parte */
    color: yellow;
}

/* chamando a imagem  */
.section-4 img {
    /* largura da imagem */
    width: 300px;
    /* espacamento a direita da imagem */
    margin-right: 90px;
}

.section-4 p {
    color: white;
    /*cor da letra*/
    font-size: 20px;
    /*tamanho da letra*/
    margin-top: 20px;
    /*distancia da margen de cima*/
    margin-right: 90px;
    /*distancia da margem da esquerda*/
    margin-left: 90px;
    /*distancia da margem da direita*/

}

/* chamando o roda-pé */
footer {
    /* tamanho do roda-pé */
    padding: 110px;
    /* alinhando o texto */
    text-align: center;
    /* alinhando os itens */
    align-items: center;
    /* justificando o conteúdo */
    justify-content: space-between;
    /* cor de fundo */
    background-color: rgb(24, 23, 23);
    /* alinhando o texto */
    text-align: center;

}

/* chamando a imagem */
footer img {
    width: 300px;
    /* largura da imagem */
}

/* chamando a identificaçao (id) da caixa (div) */
footer #texto {
    /* tornando os textos flexivel deixando lado a lado */
    display: flex;
    /* espacamento entre os texto */
    margin-right: 30px;
    /* justificando o conteudo para que fique um em cada lateral do site */
    justify-content: space-between;
    /* alinhando o texto */
    text-align: center;
    /* alinhando os itens */
    align-items: center;
    /* espacamento entre os textos e a imagem */
    margin-top: 30px;
    /* cor da letra */
    color: gray;
}

/* chamando a lista  */
footer ul li a  {
    /* cor da letra */
    color: white;
}

/* adicionando efeito ao passar o mouse na lista */
footer  ul li a:hover {
    /* trocada a cor da letra */
    color: red;
    /* transisao ao passar o mouse  */
    transition: 0.7s;
}